h1:first-letter{
    color: blueviolet;
    font-size: 200%;
        }
   button{
        background-color: blueviolet;}
    p {
        color: red;
    }
    a {
      text-align: center;
    }     
       
       
        
        


  